<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="@android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgricultureManagmentApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".editlabour"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".Explore_user"
            android:exported="false" />
        <activity
            android:name=".chat"
            android:exported="false" />
        <activity
            android:name=".AI"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Saved"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyProfile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_cultivation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_tools"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".animal_category_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_resell_category"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_animal"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_ecom"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".orderbydate"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".news"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".User_output"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".add_tools_accesories"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".category_cultivation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".add_news"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyOrder"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".User_option"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".User_list"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_home"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cart"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".show_ecom_prdt"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".add_ecomm"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".add_gov_scheme"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".govermentScheme"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditprofileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Contact_us"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Term_Conditions"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Write_share"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".add_video"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".add_cultivation_product"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".show_CultivationProduct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".add_tools_categories"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".add_animal"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Resell_Category"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splashActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Navigation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".add_labour_vacancy"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".add_labour"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".add_feed"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Language"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Introduction"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OTP"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>