<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AgricultureManagmentApp"
        tools:targetApi="31">
        <activity
            android:name=".add_news"
            android:exported="true" >

        </activity>
        <activity android:name=".MyOrder"
            android:exported="false"/>
        <activity
            android:name=".User_option"
            android:exported="false" />
        <activity
            android:name=".User_list"
            android:exported="false" />
        <activity
            android:name=".admin_home"
            android:exported="false" />
        <activity
            android:name=".Cart"
            android:exported="false" />
        <activity
            android:name=".show_ecom_prdt"
            android:exported="false" />
        <activity
            android:name=".add_ecomm"
            android:exported="true"
            android:label="@string/title_activity_add_ecomm"
            android:theme="@style/Theme.AgricultureManagmentApp" />
        <activity
            android:name=".add_gov_scheme"
            android:exported="false" />
        <activity
            android:name=".govermentScheme"
            android:exported="false" />
        <activity
            android:name=".EditprofileActivity"
            android:exported="false" />
        <activity
            android:name=".Contact_us"
            android:exported="true" />
        <activity
            android:name=".Term_Conditions"
            android:exported="false" />
        <activity
            android:name=".Write_share"
            android:exported="true" />
        <activity
            android:name=".add_video"
            android:exported="false" />
        <activity
            android:name=".add_cultivation_product"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".show_CultivationProduct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".add_tools_categories"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".add_animal"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Resell_Category"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Navigation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".add_labour_vacancy"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".add_labour"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".add_feed"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Language"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Introduction"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OTP"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="@android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>